Flask>=2.0.0
Flask-SQLAlchemy>=2.5.0
mysqlclient>=2.0.0          # Permet l'accès à MariaDB/MySQL
Flask-Mail>=0.9.1           # Pour l'envoi d'e-mails
cryptography>=36.0.0        # Pour la gestion des fonctionnalités de cryptage
gunicorn>=20.1.0            # Serveur WSGI pour déployer l'application
Flask-Migrate>=3.1.0        # Pour gérer les migrations de base de données
python-dotenv>=0.19.1       # Pour gérer les variables d'environnement
