/* index.css */

:root {
  /** Dark theme primary colors */
  --clr-primary-a0: #400040;
  --clr-primary-a10: #551f53;
  --clr-primary-a20: #693a67;
  --clr-primary-a30: #7e547b;
  --clr-primary-a40: #936f90;
  --clr-primary-a50: #a88aa5;

  /** Dark theme surface colors */
  --clr-surface-a0: #170017;
  --clr-surface-a10: #2b1d2c;
  --clr-surface-a20: #423542;
  --clr-surface-a30: #5a4e5a;
  --clr-surface-a40: #746974;
  --clr-surface-a50: #8e858e;

  /** Feedback colors */
  --clr-error-a10: #4a1c1c;
  --clr-error-a20: #802323;
  --clr-error-a50: #ff4d4d;

  --clr-success-a10: #1c4a1c;
  --clr-success-a20: #238023;
  --clr-success-a50: #4dff4d;

  --clr-info-a10: #1c4a4a;
  --clr-info-a20: #237880;
  --clr-info-a50: #4dbaff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--clr-surface-a0);
  color: var(--clr-primary-a50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: var(--clr-primary-a40);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--clr-surface-a10);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  background-color: var(--clr-surface-a20);
  border: 1px solid var(--clr-surface-a30);
  border-radius: 4px;
  color: var(--clr-primary-a50);
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--clr-primary-a30);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--clr-primary-a40);
}

.button-secondary {
  background-color: var(--clr-surface-a20);
  color: var(--clr-primary-a50);
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.message-success {
  background-color: var(--clr-success-a10);
  color: var(--clr-success-a50);
  border: 1px solid var(--clr-success-a20);
}

.message-error {
  background-color: var(--clr-error-a10);
  color: var(--clr-error-a50);
  border: 1px solid var(--clr-error-a20);
}

.message-info {
  background-color: var(--clr-info-a10);
  color: var(--clr-info-a50);
  border: 1px solid var(--clr-info-a20);
}
